# Node dependencies

# Hardhat files (Arquivos gerados automaticamente, não devem ir pro Git)
cache/
artifacts/
typechain-types/
coverage/
coverage.json

# Arquivos de ambiente e chaves privadas
.env
*.secret

# Logs
*.log
npm-debug.log*

# Dados do Besu (Se o seu Docker gerar pastas pesadas de banco de dados do nó)


# OS files
.DS_Store
Thumbs.db
node_modules